<div class="experiences-container">
  <h1 class="py-4">Your bookings!</h1>

  <div class="experience-cards">
    <% @bookings.each do |booking| %>
      <div class="card-trip">
        <%= link_to experience_path(booking.experience) do %>
          <%= cl_image_tag booking.experience.photo.key, crop: :fill, class:"img"%>
          <div class="card-trip-infos">
            <div>
              <%= booking.experience.name %>
              <p><%= booking.experience.description %></p>
            </div>
          <h2 class="card-trip-pricing"><%= booking.start_date %> - <%= booking.end_date %></h2>
          <%= cl_image_tag booking.experience.user.photo.key, class:"card-trip-user avatar-bordered" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
