<div class="container">
  <h1>Your booking was successful!</h1>
  <div class= "card">
      <%= @booking.start_date %>
      <%= @booking.end_date %>
      <%= @experience.name %>
      <%= @experience.description %>
      <%= @experience.city %>
      <%= @experience.price %>
  <div>
</div>
