<div id="image-container">
  <div class="banner">
    <div id="form-container">
      <%= form_tag experiences_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Where do you wanna experience..."
        %>
        <%= submit_tag "go..", class: "btn-main" %>
      <% end %>
    </div>
  </div>
</div>
<div class="experiences-container">
  <h1 class="py-4">Explore our experiences around you!</h1>

  <div class="experience-cards">
    <% @experiences.each do |experience| %>
      <div class="card-trip">
        <%= link_to experience_path(experience) do %>
          <%= cl_image_tag experience.photo.key, crop: :fill, class:"img"%>
          <div class="card-trip-infos">
            <div>
              <%= experience.name %>
              <p><%= experience.description %></p>
            </div>
          <h2 class="card-trip-pricing">$ <%= experience.price %></h2>
          <%= cl_image_tag experience.user.photo.key, class:"card-trip-user avatar-bordered" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
