<div class="container py-4">
  <h2>Create a new experience</h2>

  <%= simple_form_for [@experience] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>

  <%= link_to 'Back to all experiences', experiences_path %>
</div>
