<div class="final-container" >
  <div class="experience-detail-container">
    <%= cl_image_tag @experience.photo.key,width: 350, height: 300, crop: :fill, class:"img"%>
    <div class="experience-container">
      <div class="detail-container">
        <h1><%= @experience.name %></h1>
        <p><strong>| $<%= @experience.price %> | <%= @experience.city %></strong></p>
        <p><%= @experience.description %></p>
      </div>
      <div class="experience-price">
        <a class="m-2"><%= link_to "Book", new_experience_booking_path(@experience),class: 'btn-main' %></a>
        <% if current_user == @experience.user %>
          <a class="m-2"><%= link_to "Edit", edit_experience_path(@experience), :class=> 'btn-main'%></a>
          <a class="m-2"><%= link_to "Delete", experience_path(@experience), data: { turbo_method: :delete, turbo_confirm: "Are you sure"}, :class=> 'btn-main'%></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
